<% project.each do |project| %>
  <h3><%= project.title %></h3>
  <p>Descrição: <%= project.description %></p>
  <p>Valor máximo por hora: R$ <%= project.value %> reais</p>
  <p>Habilidades desejadas: <%= project.skills %></p>
  <p><%= link_to "Ir para o projeto", project %></p>
  <hr>
<% end %> 