<h1><%= t('.my_projects') %></h1>
<hr>
<% if @projects.empty? %>
    <div>
        <h3><%= t('.empty') %></h3><br>
    </div>
<% end %>
<% @projects.each do |project|%>
    <h3><%= link_to project.title, project %></h3>
    <p>Descrição: <%= project.description %></p>
    <p>Habilidades desejadas: <%= project.skills %></p>
    <p>Data limite: <%= project.end_date %></p>
    <p>Atuação <%= project.work_style %></p>
    <p>Valor máximo por hora: R$ <%= project.value %> reais</p>
    <hr>
<% end %>