<h1>Minhas Propostas</h1>
<hr>
<% if @proposals.empty? %>
    <div>
        <h3>Nenhuma proposta enviada.</h3><br>
    </div>
<% end %>
<% @proposals.each do |proposal| %>
  <h3><%= link_to proposal.project.title, project_path(proposal.project) %></h3>
  <p>Razão para trabalhar nesse projeto: <%= proposal.reason %></p>
  <p>Proposta de valor/hora: R$ <%= proposal.value %></p>
  <p>Horas disponíveis por semana: <%= proposal.available_time %> horas</p>
  <p>Expectativa de conclusão do projeto: <%= proposal.expected_end %></p>
  <hr>
<% end %> 