<h3>Proposta para o projeto <%= @proposal.project.title %></h3>
<p>Motivo para trabalhar nesse projeto: <%= @proposal.reason %></p>
<p>Proposta de valor/hora: R$ <%= @proposal.value %></p>
<p>Horas disponíveis por semana: <%= @proposal.available_time %></p>
<p>Atuação <%= @proposal.expected_end %></p>
<p>Expectativa de conclusão do projeto: R$ <%= @proposal.value %></p>
<p>Status: <%= I18n.t(@proposal.status) %></p>
<%= link_to('Voltar', root_path) %>