<!DOCTYPE html>
<html>
  <head>
    <title>FreelancerConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if regular_user_signed_in? %>
        <%= link_to 'Cadastrar projeto', new_project_path %> |
        <%= current_regular_user.email %> |
        <%= link_to 'Logout', destroy_regular_user_session_path, method: :delete %> |
        <%= link_to 'Meus projetos', my_projects_projects_path %>
      <% elsif freelancer_user_signed_in? %>
          <%= link_to current_freelancer_user.email, show_profile_path %> |
          <%= link_to "Meu perfil",  show_profile_path unless current_freelancer_user.profile.nil? %> 
          <%= link_to "Complete seu perfil",  new_profile_path unless current_freelancer_user.profile %> |
          <%= link_to "Logout", destroy_freelancer_user_session_path, method: :delete %> |
          <%= link_to 'Minhas propostas', proposals_path %>
      <% else %>
        <%= link_to "Entrar como usuário", new_regular_user_session_path %> |
        <%= link_to "Entrar como freelancer", new_freelancer_user_session_path %> |
      <% end %>
    </nav>
  <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
