<!DOCTYPE html>
<html>
  <head>
    <title>FreelancerConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if regular_user_signed_in? %>
        <p><%= link_to 'Cadastrar projeto', new_project_path %></p>
        <p><%= current_regular_user.email %></p>
        <p><%= link_to 'Logout', destroy_regular_user_session_path, method: :delete %>
      <% elsif freelancer_user_signed_in? %>
        <p><%= link_to 'Cadastrar projeto', new_project_path %></p>
        <p><%= link_to current_freelancer_user.email, my_profile_path %></p>
        <p><%= link_to 'Logout', destroy_freelancer_user_session_path, method: :delete %>
      <% else %>
        <p><%= link_to "Entrar como usuário", new_regular_user_session_path %></p>
        <p><%= link_to "Entrar como freelancer", new_freelancer_user_session_path %></p>
      <% end %>
    </nav>
  <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
